<h1>Listing Assigned Groups</h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Participant", participant_path(@participant), class: "btn btn-default" %>
  <%= link_to "Assign Group", new_participant_group_path(@participant), class: "btn btn-default" %>
</div>

<div class="list-group">
  <% @participant.memberships.each do |membership| %>
    <% label = @participant.memberships.active.include?(membership) ? "<span class='label label-success'>Active</span>" : "<span class='label label-info'>Inactive</span>" %>
    <%= link_to ("#{label} ".html_safe + membership.group.title), participant_group_path(@participant, membership.group), class: "list-group-item" %>
  <% end %>
</div>