<h1>Listing Projects</h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Dashboard", root_path, class: "btn btn-default" %>
  <%= link_to "New", new_project_path, class: "btn btn-default" %>
</div>

<div class="list-group">
  <% @projects.each do |project| %>
    <%= link_to "#{project.name} <span class=\"badge\">#{project.arms.count}</span>".html_safe, project_path(project), class: "list-group-item clearfix" %>
  <% end %>
</div>