<div class="list-group">
  <% arms.each do |arm| %>
    <% if can? :show, arm %>
      <%= link_to "#{arm.title} #{arm_type(arm)}".html_safe, arm_path(arm), class: "list-group-item clearfix" %>
    <% end %>
  <% end %>
</div>