<div class="list-group">
  <% arms.each do |arm| %>
    <%= link_to "#{arm.name} <span class=\"badge\">#{arm.groups.count}</span>".html_safe, arm_path(arm), class: "list-group-item clearfix" %>
  <% end %>
</div>