<h1>Listing Arms</h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Researcher Dashboard", root_path, class: "btn btn-default" %>
  <%= link_to "New", new_arm_path, class: "btn btn-default" %>
</div>

<%= render "arms", arms: @arms %>