<h1>Listing Enrollments</h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "New", new_enrollment_path, class: "btn btn-default" %>
</div>

<div class="list-group">
  <% @enrollments.each do |enrollment| %>
    <%= link_to enrollment.name, enrollment, class: "list-group-item" %>
  <% end %>
</div>
