.bundle/
.DS_Store
.idea/**/*
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
brakeman.html
coverage
Gemfile.lock

# RubyGems
think_feel_do_dashboard-*.gem
