<h1>Listing Groups</h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "New", new_group_path, class: "btn btn-default" %>
</div>

<div class="list-group">
  <% @groups.each do |group| %>
    <%= link_to group.name, group, class: "list-group-item" %>
  <% end %>
</div>