<h1>Listing Participants</h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "New", new_participant_path, class: "btn btn-default" %>
</div>

<div class="list-group">
  <% @participants.each do |participant| %>
    <%= link_to membership_status(participant, participant.active_membership) + participant.study_id, participant, class: "list-group-item" %>
  <% end %>
</div>