<h1>Editing Coach/Moderator Assigned to Participant</h1>

<%= render 'form', button_text: "Update", cancel_path: participant_path(@participant), url: participant_coach_path(@participant, @coach_assignment.coach) %>