<h1>Listing Assigned Coaches</h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Participant", participant_path(@participant), class: "btn btn-default" %>
  <%= link_to "Assign Coach", new_participant_coach_path(@participant), class: "btn btn-default" %>
</div>

<div class="list-group">
  <% @participant.coaches.each do |coach| %>
    <%= link_to coach.id, participant_coach_path(@participant, coach), class: "list-group-item" %>
  <% end %>
</div>