<h1>Coach/Moderator Assignment</h1>

<div class="btn-toolbar" role="toolbar">
  <% if can? :edit, @coach_assignment %>
    <%= link_to "Edit", edit_participant_coach_path(@coach_assignment.participant, @coach_assignment.coach), class: "btn btn-default" %>
  <% end %>
  <% if can? :destroy, @coach_assignment %>
    <%= link_to "Destroy", participant_coach_path(@coach_assignment.participant, @coach_assignment.coach), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <% end %>
</div>

<p>
  <strong>Participant:</strong>
  <%= link_to @coach_assignment.participant.study_id, participant_path(@coach_assignment.participant) %>
</p>

<p>
  <strong>Coach/Moderator:</strong>
  <%= link_to @coach_assignment.coach.email, user_path(@coach_assignment.coach) %>
</p>