<h1>CSV Reports</h1>

<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Note.</strong> Reports are generated nightly. Data will not include today's site activity.
</div>

<div class="list-group">
  <% @reports.each do |report| %>
    <% if can? :read, "Reports" %>
      <%= link_to report[:title], report_path(id: report[:id], format: "csv"), class: "list-group-item" %>
    <% end %>
  <% end %>
</div>
