<h1>CSV Reports</h1>

<div class="list-group">
  <% @reports.each do |report| %>
    <% if can? :read, "Reports" %>
      <%= link_to report[:title], report_path(id: report[:id], format: "csv"), class: "list-group-item" %>
    <% end %>
  <% end %>
</div>
