<h1>Researcher Dashboard</h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Home", think_feel_do_engine.arms_path, class: "btn btn-default" %>
</div>

<div class="list-group">
  <% @admin_functionalities.each do |functionality| %>
  <a href="<%= functionality[1] %>" class="list-group-item">
    <h4 class="list-group-item-heading"><%= functionality[0] %></h4>
    <p class="list-group-item-text"><%= functionality[2] %></p>
  </a>
  <% end %>
</div>