<h1>Groups</h1>

<div class="btn-toolbar" role="toolbar">
  <% if can? :new, Group %>
    <%= link_to "New", new_group_path, class: "btn btn-primary" %>
  <% end %>
</div>

<%= render "groups", groups: @groups %>
