<h1>Listing Groups</h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Dashboard", root_path, class: "btn btn-default" %>
  <%= link_to "New", new_group_path, class: "btn btn-default" %>
</div>

<%= render "groups", groups: @groups %>